.team {
  display: block;
  margin: 1em 3em;
  padding: 1em 1em;
  background-color: rgba(48, 33, 81, 0.5);
  border-radius: 15px;
  color: rgb(216, 215, 214);
}

.title {
  font-size: 1.6em;
  margin: 0.8em;
  text-align: center;
  background: linear-gradient(to right, transparent, rgba(42, 9, 92, 0.505));
}



