.search-bar {
  display: flex;
  flex: 1 1 70%;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-width: 10em;
  margin-right: 1em;
  background-color: transparent;
}

.search-bar input {
  flex: 1;
  padding: 0.43em 1.25em;
  font-size: 1em;
  color: white;
  border: 2px solid #f9f9f9;
  border-right: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  background-color: transparent;

}

.search-bar button {
  padding: 0.5em;
  border: 2px solid #ffffff;
  border-left: none;
  border-radius: 0 25px 25px 0; 
  background-color: rgba(56, 36, 82, 0.5);
  cursor: pointer;
  outline: none;
}

.search {
  color: white;
  height: 1em;
  width: 1em;
}