.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto 0;
}

.video-item {
  width: 200px;
  height: 200px; 
  object-fit: cover;
  border: 0.2vw solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin: 0.5vw;
}