.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0px 16px;
  padding: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.video-item {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.171);
}
