.video-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff44;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 20vw;  /* Ширина в процентах от ширины вьюпорта */
  height: 12vh; /* Высота в процентах от высоты вьюпорта */
  margin: 1vw;
  cursor: pointer;
  overflow: hidden;
  position: relative; /* Чтобы текст мог быть позиционирован абсолютно */
}

.video-card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: cover;
}

.video-card .video-title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;  /* Выравнивание текста по левому краю */
  color: #000000;
  position: absolute;
  bottom: 10px;  /* Смещение текста к нижнему краю */
  left: 10px; /* Смещение текста к левому краю */
  width: calc(100% - 20px); /* Учитывая отступы */
}

.video-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}