.upload {
  display: block;
  width: 100%;
  margin: 1em 3em;
  background-color: rgba(48, 33, 81, 0.5);
  border-radius: 15px;
  color: rgb(247, 249, 249);
}

.background {
  width: 30vh;
  margin: 0 0;
  background: linear-gradient(to right, transparent, rgba(42, 9, 92, 0.505));
}

.upload h2 {
  text-align: center;
  margin-bottom: 1em;
}

.upload-form .form-group {
  width: 30vh;
  margin-bottom: 15px;
  margin: 1em 1em;
}

.upload-form label {
  display: block;
  margin-bottom: 5px;
}

.upload-form input[type="text"],
.upload-form input[type="file"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.upload-form button {
  display: block;
  width: 30vh;
  padding: 10px;
  margin: 0;
  background-color: #2c0b6878;
  color: white;
  border: none;
  cursor: pointer;
}

.upload-form button:hover {
  background-color: #0f0244;
}

.image-preview {
  
}