.cat {
  float: left;
  width: 100vw;
  margin-top: 0.5em;
  background-color: rgba(4, 3, 7, 0.386);
}

.nav-icons {
  margin-left: 3.5em;
}

li{
  display: table;
  height: 100%;
  float: left;
  margin-right: 2em;
  cursor: pointer;
}

.icons {
  color: white;
  height: 1.8em;
  width: 1.8em;
}

.active {
  color: rgba(169, 169, 175, 0.804);
}
li:last-of-type{
  margin-right: 0;
}