.nav-profile {
  float: left;
  width: 100%;
  background-color: rgba(4, 3, 7, 0.386);
}

.profile-row {
  margin: 0 3.4em;
}

.nav {
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  margin-top: 0;
  margin-right: 1em;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: 500;
}
